<div class="exercise__container">
<div class="filter__title__container container">
  <h2 class="filter__title">Exercises</h2>

  <span class="filter__query__specialSign">&frasl;</span>
  <span class="filter__query"></span>
</div>
<div class="filter__searchBox__btnContainer__wrapper container">
  <div class="filter__searchBox">
    <input class="filter__searchBox__input" type="text" placeholder="Search" />
    <button class="filter__searchBox__btn" aria-label="Search">
      <svg class="filter__searchBox__icon js-search" fill="black" color="black">
        <use href="./img/sprite.svg#icon-search"></use>
      </svg>
      <svg class="filter__searchBox__icon filter__searchBox__icon__close hidden js-close" >
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="filter__btnContainer">
    <button
      class="filter__btn"
      aria-label="Filter Muscles"
      data-filterRequset="Muscles"
      data-filterDetailedRequset="muscles"
      disabled
    >
      Muscles
    </button>
    <button
      class="filter__btn"
      aria-label="Filter Body parts"
      data-filterRequset="Body parts"
      data-filterDetailedRequset="bodypart"
    >
      Body parts
    </button>
    <button
      class="filter__btn"
      aria-label="Filter Equipment"
      data-filterRequset="Equipment"
      data-filterDetailedRequset="equipment"
    >
      Equipment
    </button>
  </div>
</div>
</div>

