<div class="quote-container favorites-quote-container">
  <ul class="quote-list grid-container">
    <li class="quote-card grid-item1">
      <div>
        <div class="icon-container">
          <svg class="runner-icon">
            <use href="./img/sprite.svg#icon-running-stick-figure"></use>
          </svg>
        </div>
      </div>
      <div class="text-container">
        <div class="quote-title-icon-cont">
          <h3 class="quote-title">Quote of the day</h3>
          <div class="quote-icon-cont">
            <svg class="quote-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-inverted-commas"></use>
            </svg>
          </div>
        </div>
        <p class="quote-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="name-text">Tom Brady</p>
      </div>
    </li>

    <li class="recomendation favorites-recommendation grid-item2">
      <div class="icon-container-weight favorites-icon-container">
        <svg
          class="sport-weight-icon favorites-weight-icon"
          width="20"
          height="20"
        >
          <use href="./img/sprite.svg#icon-sport-weight"></use>
        </svg>
      </div>

      <div class="text-recomendation">
        <h3 class="title favorites-title">110 min</h3>
        <p class="title-text-recomendation">Daily norm of sports</p>
      </div>
    </li>
    <li class="quote-section-img favorites-quote-section-img grid-item3">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/quote/favorites-women-desktop-1x.jpg 1x,
            /img/quote/favorites-women-desktop-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /img/quote/favorites-women-tablet-1x.jpg 1x,
            /img/quote/favorites-women-tablet-2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/quote/favorites-women-mobile-1x.jpg 1x,
            /img/quote/favorites-women-mobile-2x.jpg 2x
          "
        />
        <img
          src="./img/quote/favorites-women-mobile-1x.jpg"
          alt="girls"
          class="quote-img"
          width="335"
        />
      </picture>
    </li>
  </ul>
</div>
