<section class="hero">
  <div class="container">
    <div class="hero-title-tags-wrapper">
      <div class="title-subtitle-wrapper">
        <h1 class="page-title">
          <svg width="38" height="38" class="hero-icon">
            <use href="../img/sprite.svg#icon-sun"></use>
          </svg>
          Get <span class="title-decor">Body</span> in <br />
          shape, Stay healthy
        </h1>
        <p class="page-subtitle">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="tags-img-wrapper">
        <img
          class="outdoor-fitness-img"
          src="img/hero/outdoor-fitness-desktop.jpg"
          alt="outdoor fitness"
        />
        <ul class="tag-list tag-list-desktop">
          <li class="tag-list-item">
            <span class="tag-text">&#35;Sport</span>
          </li>
          <li class="tag-list-item">
            <span class="tag-text">&#35;Healthy</span>
          </li>
          <li class="tag-list-item">
            <span class="tag-text">&#35;Workout</span>
          </li>
          <li class="tag-list-item"><span class="tag-text">&#35;Diet</span></li>
        </ul>
      </div>
    </div>
    <div class="title-img-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="img/hero/women.jpg" />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="img/hero/hero-tablet.jpg"
        />
        <img src="img/hero/hero-desktop.jpg" alt="women outdoor training" />
      </picture>
    </div>
    <ul class="tag-list tablet-mobile-list">
      <li class="tag-list-item"><span class="tag-text">&#35;Sport</span></li>
      <li class="tag-list-item"><span class="tag-text">&#35;Healthy</span></li>
      <li class="tag-list-item"><span class="tag-text">&#35;Workout</span></li>
      <li class="tag-list-item"><span class="tag-text">&#35;Diet</span></li>
    </ul>
  </div>
</section>
