<div class="quote-container">
  <ul>
    <li class="quote-card">
      <div>
        <div class="icon-container">
          <svg class="runner-icon" width="18" height="20">
            <use href="../img/sprite.svg#icon-running-stick-figure"></use>
          </svg>
        </div>
      </div>
      <div class="text-container">
        <h3>Quote of the day</h3>
        <p class="quote-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="name-text">Tom Brady</p>
      </div>
    </li>
    <li>
      <img
        srcset="
          ../img/quote/women-mobile-x1.jpg  335w,
          ../img/quote/women-mobile-x2.jpg  670w,
          ../img/quote/women-tablet-x1.jpg  288w,
          ../img/quote/women-tablet-x2.jpg  576w,
          ../img/quote/women-desktop-x1.jpg 444w,
          ../img/quote/women-desktop-x2.jpg 888w
        "
        sizes="(min-width: 1158px) 444x, (min-width: 768px) 288px, (max-width: 428px) 335px"
        src="../img/quote/women-mobile-x1.jpg"
        alt="girls"
        height="242"
        class="quote-img"
      />
    </li>
    <li class="recomendation">
      <div>
        <div class="icon-container-weight">
          <svg class="sport-weight-icon" width="20" height="20"></svg>
          <use href="../img/sprite.svg#icon-sport-weight"></use>
        </div>
      </div>
      <div class="text-recomendation">
        <h3>110 min</h3>
        <p class="title-text-recomendation">Daily norm of sports</p>
        <p class="recomendation-discription">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18–64. However, what ha...
        </p>
      </div>
    </li>
  </ul>
</div>
