<div class="quote-container">
  <ul class="quote-list">
    <li class="quote-card">
      <div>
        <div class="icon-container">
          <svg class="runner-icon">
            <use href="./img/sprite.svg#icon-running-stick-figure"></use>
          </svg>
        </div>
      </div>
      <div class="text-container">
        <div class="quote-title-icon-cont">
          <h3 class="quote-title">Quote of the day</h3>
          <div class="quote-icon-cont">
            <svg class="quote-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-inverted-commas"></use>
            </svg>
          </div>
        </div>
        <p class="quote-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="name-text">Tom Brady</p>
      </div>
    </li>
    <li class="quote-section-img">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/quote/women-desktop-x1.jpg 1x,
            ./img/quote/women-desktop-x2.jpg 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            ./img/quote/women-tablet-x1.jpg 1x,
            ./img/quote/women-tablet-x2.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/quote/women-mobile-x1.jpg 1x,
            ./img/quote/women-mobile-x2.jpg 2x
          "
        />
        <img
          src="./img/quote/women-mobile-x1.jpg"
          alt="girls"
          class="quote-img"
          width="335"
        />
      </picture>
    </li>
    <li class="recomendation">
      <div>
        <div class="icon-container-weight">
          <svg class="sport-weight-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-sport-weight"></use>
          </svg>
        </div>
      </div>
      <div class="text-recomendation">
        <h3 class="title">110 min</h3>
        <p class="title-text-recomendation">Daily norm of sports</p>
        <p class="recomendation-discription">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div>
    </li>
  </ul>
</div>
