:root {
  --main-color: #242424;
  --secondary-color: rgba(36, 36, 36, 0.5);
}

.filter__container {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
}

.filter__searchBox__btnContainer__wrapper {
  display: flex;
  flex-direction: column;
}
.filter__title__container {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.filter__query__specailSign {
  color: var(--main-color);
  font-size: 28px;
  line-height: 1.35; /* 135.714% */
  letter-spacing: -0.56px;
  margin-right: 8px;
  margin-left: 8px;
}

.filter__title {
  color: var(--main-color);
  font-size: 28px;
  line-height: 1.35; /* 135.714% */
  letter-spacing: -0.56px;
}

.filter__query {
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 1; /* 100% */
  letter-spacing: -0.4px;
}

.filter__searchBox {
  border: 2px solid var(--main-color);
  border-radius: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter__searchBox__input {
  border: none;
  outline: none;
  padding: 0;
  margin-right: 10px;
  flex-grow: 1;
  border-radius: 15px;
}
.filter__searchBox__input::placeholder {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.42; /* 142.857% */
}

.filter__searchBox__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.filter__searchBox__btn:focus {
  outline: none;
}

.filter__searchBox__icon {
  width: 24px;
  height: 24px;
}

.filter__btnContainer {
  display: flex;
  font-size: 14px;
  line-height: 1.42; /* 142.857% */
  margin-bottom: 20px;
}
.filter__btn {
  color: var(--secondary-color);
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.filter__btn:not(:last-child) {
  margin-right: 20px;
}

.filter__btn__active {
  color: var(--main-color);
}
.filter__btn__active::after {
  content: '';
  position: absolute;
  border-radius: 5px;
  bottom: -4px; /* Align with dotted border */
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--main-color);
}

button {
  padding: 0;
}

.hide__element {
  display: none;
}

@media screen and (min-width: 768px) {
  .filter__title__container {
    margin-bottom: 32px;
  }

  .filter__searchBox__btnContainer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .filter__btnContainer {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    margin-bottom: 20px;
  }

  .filter__title {
    font-size: 44px;
    line-height: 1.09; /* 109.091% */
    letter-spacing: -0.88px;
  }

  .filter__query__specailSign {
    font-size: 44px;
    line-height: 1.09; /* 109.091% */
    letter-spacing: -0.88px;
  }

  .filter__query {
    font-size: 24px;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.48px;
  }

  .filter__searchBox__input::placeholder {
    font-size: 16px;
    line-height: 1.5; /* 150 */
  }
}

@media screen and (min-width: 1440px) {
  .filter__searchBox__btnContainer__wrapper {
    flex-direction: row;
    justify-content: right;
  }

  .filter__btnContainer {
    margin-right: 30px;
  }
}
