/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.29;
  background-color: var(--page-background-color);
}

.section {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.hidden {
  display: none;
}

/* ---LOADER--- */

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 75px;
  height: 75px;
  border: 5px dotted var(--main-color);
  border-radius: 50%;
  display: block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---LOADER--- */

@media screen and (min-width: 767px) {
  .section {
    max-width: 768px;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    max-width: 1440px;
  }
}
