.policy-title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 24px;
  color: var(--main-color);
}

.policy-text {
  color: var(--main-color);
  line-height: 1.2;
  font-size: 14px;
}

.text-indent {
  text-indent: 24px;
}

.policy-list {
  list-style: initial;
  padding-left: 20px;
}

.policy-link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .policy-header {
    margin-top: 35px;
  }

  .policy-title {
    margin-bottom: 16px;
    font-size: 32px;
  }

  .policy-text {
    line-height: 1.5;
    font-size: 16px;
  }

}