.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.quote-card {
  display: flex;
  background-color: var(--main-color);
  border-radius: 20px;
  gap: 18px;
  padding: 20px;
}
.quote-title-icon-cont {
  display: flex;
}
.quote-icon-cont {
  margin-left: auto;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 32px;
  background: rgba(244, 244, 244, 0.2);
  border-radius: 32px;
}
.quote-section-img {
  height: 242px;
  border-radius: 20px;
  overflow: hidden;
}

.icon-container svg {
  fill: var(--color-white);
}
.icon-container-weight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 32px;
  background: var(--icon-cont-black);
  border-radius: 32px;
}

.sport-weight-icon {
  fill: var(--icon-color-white-secondary);
}

.quote-title {
  color: var(--page-background-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 8px 0;
}

.quote-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.name-text {
  color: var(--page-background-color);
  font-size: 14px;
  margin: 0;
}

.recomendation {
  gap: 18px;
  background: var(--color-white);
  border-radius: 20px;
  display: flex;
  padding: 20px;
}

.title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 2px 0;
}

.title-text-recomendation {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  line-height: 1.28;
  margin: 0 0 16px 0;
}

.recomendation-discription {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.28;
  height: 105px;
  /* overflow: hidden; */
  overflow-y: auto;
}

@media (min-width: 768px) {
  .quote-list {
    gap: 16px;
    flex-direction: row;
    align-items: normal;
    flex-wrap: wrap;
  }

  .quote-card {
    padding: 40px;
  }
  .quote-title {
    font-size: 24px;
    line-height: 1.33;
    margin: 0 0 6px 0;
  }
  .quote-text {
    font-size: 14px;
    margin: 0 0 18px 0;
  }
  .name-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .recomendation {
    padding: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-list {
    gap: 32px;
    flex-direction: column;
    align-items: normal;
    flex-wrap: wrap;
    width: 444px;
  }
  .quote-icon-cont {
    width: 24px;
    height: 24px;
  }
  .quote-text {
    font-size: 14px;
    margin: 0 0 8px 0;
  }
  .quote-img {
    width: 100%;
  }
  .recomendation-discription {
    height: auto;
    overflow: visible;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .quote-list li {
    flex: 1 1 auto;
  }
  .quote-list li:last-child {
    flex: 0 0 400px;
  }
  .quote-section-img {
    width: 288px;
    height: 248px;
  }
  .quote-card,
  .recomendation {
    width: 400px;
  }

  .icon-container {
    width: 34px;
    height: 32px;
  }

  .quote-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .icon-container-weight {
    width: 34px;
    height: 32px;
  }
  .title {
    font-size: 24px;
    line-height: 1.33;
    margin: 0 0 2px 0;
  }
  .title-text-recomendation {
    margin: 0 0 20px 0;
  }
  .recomendation-discription {
    height: 94px;
    overflow: hidden;
  }
}
